<launch>

<include file = "$(find my_custom_srv_msg_pkg)/launch/start_bb8_move_custom_service_server.launch"/>

<node
    pkg = "my_custom_srv_msg_pkg"
    type = "call_bb8_move_custom_service_server_script.py"
    name = "bb8_move_custom_service_client_server_node"
    output = "screen"
>
</node>

</launch>