<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find tf_quiz)/launch/spawn_urdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        <arg name="urdf_robot_file" value="$(find tf_quiz)/urdf/pi_robot_v2.urdf" />
        <arg name="robot_name" value="pi_robot" />
    </include>
</launch>